
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #4c7687;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {

}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background: url("http://geekhub.ck.ua/images/header_bg.png") repeat-x top center #fff;

}
a {
  color: #e21d5d;
}
a:hover,
a:focus {
  color: #e21d5d;
}
a:active {
  color: #e21d5d;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #ffffff;
}
#page-wrapper,
#footer-wrapper {
  background: #2a1818;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #4d424d;
}
